/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #6B41BE;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.main {
  padding: 2rem;
}

/* Project Cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #94BE41;
  padding: 1.5rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.project-card p {
  margin-bottom: 1rem;
}

.project-card button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.project-card button:hover {
  background: white;
  color: #333;
}

/* Contact Form */
.contact-form {
  background: #6B41BE;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  background: #94BE41;
  padding: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: white;
  color: #94BE41;
}

/* Social Media Links */
.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.social-media-icons a {
  color: white;
  font-size: 2rem;
}

/* WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #25d366;
  color: white;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  .contact-form {
    width: 90%;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}
